@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0px;
    margin: 0px;
}

.header {
    border-bottom: 1px solid black;
    padding: 15px;
    padding-right: 40px;
    padding-left: 40px;
    position: sticky;
    top: 0px;
    background-color: white;
}

header {
    display: flex;
    align-items: center;
}

.nav-heading {
    display: flex;
    margin-right: auto;
    font-family: nunito;
    font-weight: 700;
    margin-bottom: 0px;
}

.heading {
    font-size: 30px;
    margin-bottom: 0px;
}

.quick-color{
    color: black;
}

.crave-color {
    color: #283618;
}

.nav-links ol{
    display: flex;
    margin-bottom: 0px;
    list-style-type: none;
    gap: 20px;
    font-family: roboto;
}

.nav-links-elements {
    display: flex;
    margin-bottom: 0px;
    align-items: center;
}

.nav-links-elements li a{
    text-decoration: none;
    color: black;
}

.login {
    color: #bc6c25;
    background-color: white;
    border-color: #bc6c25;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    outline: none;
    margin-bottom: 0px;
    font-family: poppins;
    font-size: 14px;
    margin-right: 10px;
    border-radius: 3px;
}
.login a {
    text-decoration: none;
    color: #bc6c25;
}

.login:hover {
    background-color: #bc6c25;
    color: white;
    transition: 0.6s;
}

.signup:hover {
    background-color: white;
    color: #283618;
    transition: 0.6s;
}

.signup {
    margin-bottom: 0px;
    background-color: #283618;
    padding: 10px;
    font-size: 14px;
    padding-right: 20px;
    padding-left: 20px;
    color: white;
    outline: none;
    border-color: #283618;
    font-family: poppins;
    border-radius: 3px;
}

.contactus-container{
    padding-top: 40px;
}

.contactus-heading{
    color: #283618;
    font-family: roboto;
    text-decoration: underline;
    text-align: center;
}

.contactus-getemploy{
    display: flex;
    width: 100%;
    width: 750px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px rgba(0 , 0 , 0 ,0.5);
    margin-top: 30px;
}

.contactus-info1 {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.contactus-para-getemploy {
    font-size: 18px;
}

.contactus-list-getemploy {
    list-style-type: none;
    font-size: 18px;
}

.contactus-image {
    height: 300px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.contactus-content {
    padding: 20px;
}

.footer {
    background-color: #DDA15E;
    padding: 20px;
    padding-top: 40px;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    font-family: roboto;
}

.footer-nav-elements {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 10px;

}

.footer-nav-elements a {
    list-style-type: none;
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.footer-nav-heading {
    font-size: 22px;
    color: black;
    font-weight: bold;
    padding-bottom: 10px;
}

.footer-copyrights-para {
    text-align: center;
    color: black;
    font-family: poppins;
    font-size: 18px;
    margin-bottom: 0px;
    margin-top: 20px;
}

.icons-link {
    color: black;
    font-weight: 600;
    text-decoration: none;
    font-size: 20px;
}

.icons-size {
    margin-right: 8px;
}