@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0px;
    margin: 0px;
}

.food-login {
    background-image: url("https://thumbs.dreamstime.com/b/unhealthy-fast-food-delivery-menu-featuring-assorted-burgers-cheeseburgers-nuggets-french-fries-soda-high-calorie-low-356045884.jpg");
    background-color: gray;
    background-blend-mode:multiply;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.food-login-container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    color: #283618;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.food-login-heading { 
    text-align: center;
}

.form-para {
    color: #283618;
    font-weight: bold;
    padding-top: 10px;
}

.form-input {
    padding: 10px;
    width: 400px;
    outline: none;
    margin-top: 5px;
    margin-bottom: 10px;
}

.form-input:hover {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    border: white 1px solid;
    transition: ease-in-out 0.2s;
}

.form-input:focus {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    border: white 1px solid;
    transition: ease-in-out 0.2s;
}

.form-btn-container {
    display: flex;
    justify-content: center;
}

.form-btn {
    padding: 10px;
    padding-right: 30px;
    padding-left: 30px;
    outline: none;
    border-radius: 5px;
    background-color: #606C38;
    color: white;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    border: none;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
}

.form-btn:hover {
    background-color: #283618;
    color: white;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    transition: 0.5s ease-out;
}

.form-btn-para {
    text-align: center;
    margin-top: 10px;
}

.food-login-image {
    height: 100%;
    border-radius: 10px;
}