@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0px;
    margin: 0px;
}

.header {
    border-bottom: 1px solid black;
    padding: 15px;
    padding-right: 40px;
    padding-left: 40px;
    position: sticky;
    top: 0px;
    background-color: white;
}

header {
    display: flex;
    align-items: center;
}

.nav-heading {
    display: flex;
    margin-right: auto;
    font-family: nunito;
    font-weight: 700;
    margin-bottom: 0px;
}



.heading {
    font-size: 30px;
    margin-bottom: 0px;
}

.quick-color{
    color: black;
}

.crave-color {
    color: #283618;
}

.nav-links ol{
    display: flex;
    margin-bottom: 0px;
    list-style-type: none;
    gap: 20px;
    font-family: roboto;
}

.nav-links-elements {
    display: flex;
    margin-bottom: 0px;
    align-items: center;
}

.nav-links-elements li a{
    text-decoration: none;
    color: black;
}

.login {
    color: #bc6c25;
    background-color: white;
    border-color: #bc6c25;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    outline: none;
    margin-bottom: 0px;
    font-family: poppins;
    font-size: 14px;
    margin-right: 10px;
    border-radius: 3px;
}
.login a {
    text-decoration: none;
    color: #bc6c25;
}

.login:hover {
    background-color: #bc6c25;
    color: white;
    transition: 0.6s;
}

.signup:hover {
    background-color: white;
    color: #283618;
    transition: 0.6s;
}

.signup {
    margin-bottom: 0px;
    background-color: #283618;
    padding: 10px;
    font-size: 14px;
    padding-right: 20px;
    padding-left: 20px;
    color: white;
    outline: none;
    border-color: #283618;
    font-family: poppins;
    border-radius: 3px;
}

.banner-content {
    background-image: url('images/banner-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.banner-head-content{
    background-color: white;
    padding: 30px;
    margin-bottom: 0px;
    text-align: center;
    gap: 10px;
}

.banner-heading {
    color: black;
    margin-bottom: 0px;
    font-family: roboto;
}

.banner-para {
    color: black;
    margin-bottom: 0px;
    font-weight: 500;
    padding-top: 5px;
}

.banner-btn {
    background-color: #283618;
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 10px;
    border: 1px solid #283618;
    outline: none;
    border-radius: 3px;
    color: white;
}

.banner-btn:hover {
    background-color: white;
    color: #283618;
    border: 1px solid #283618;
    transition: 0.6s;
}

.food-content {
    padding: 30px;
    padding-top: 20px;
    font-family: roboto;
    color: #283618;
    text-align: center;
}

.image-link {
    display: flex;
    gap: 40px;
    justify-content: center;
}

.image-size {
    height: 120px;
    width: 120px;
    border-radius: 50%;
}

.image-link-para {
    font-size: 20px;
    color:#bc6c25;
    font-weight: bold;
    font-family: poppins;
    padding-top: 10px;
    text-decoration: none;
}

.link-a {
    text-decoration: none;
    padding-top: 15px;
}

.order-details {
    padding-right:50px;
    padding-left: 50px;
    padding-bottom: 30px;
}

.order-details-dropdown {
    padding-bottom: 20px;
}

.order-details-heading {
    padding-bottom: 10px;
}

.order-details-cards {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    margin-bottom: 30px;
}

.order-card {
    display: flex;
    gap: 20px;
}

.footer {
    background-color: #DDA15E;
    padding: 20px;
    padding-top: 40px;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    font-family: roboto;
}

.footer-nav-elements {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 10px;

}

.footer-nav-elements a {
    list-style-type: none;
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.footer-nav-heading {
    font-size: 22px;
    color: black;
    font-weight: bold;
    padding-bottom: 10px;
}

.footer-copyrights-para {
    text-align: center;
    color: black;
    font-family: poppins;
    font-size: 18px;
    margin-bottom: 0px;
    margin-top: 20px;
}

.icons-link {
    color: black;
    font-weight: 600;
    text-decoration: none;
    font-size: 20px;
}

.icons-size {
    margin-right: 8px;
}