@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

.login-page {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px;
    font-family: roboto;
    text-align: center;
}

.form {
    display: flex;
    background-color: #112A46;
    flex-direction: column;
    align-items: center;
    width: 400px;
    color: white;
    padding: 20px;
    border-radius: 10px;
}

.padding {
    padding: 10px;
    padding-right: 20px;
    padding-left: 5px;
    outline: none;
    border: none;
    margin-top: 15px;
    border-radius: 5px;
}

.btn {
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 20px;
    border-radius: 5px;
    outline: none;
    border: none;
}